 
 @import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Lato&display=swap');
 
 html,
 body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lato', sans-serif;
}

h2{
      text-align: center;
}

.salida{
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      border: 1px solid black;
      width: 30%;
      height: 100px;
      /* margin: 1rem 35%; */
      margin: auto;
      padding: 20px;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      /* hacemos esta sombra para que al situarnos sobre el blanco el texto este sombreado de negro y se pueda leer */
      text-shadow: 1.5px 0px #000, 0px 1px #000, -1px 0px #000, 0px -1px #000;
      color: white;

}

.color-div{
      text-align: center;
      padding: 20px;
      /* border: 1px red solid; */
      /* border-radius: 50%; */
      width: 100px;
      margin: auto;
      margin-top: 20px;
}
ul{
      list-style: none;
      width: 100px;
      display: flex;
      margin: 20px;
      padding: 20px;
}
li{
      margin: 20px;
      padding: 20px;
      border-radius: 20px;
}
button{
      display: flex;
      margin: 20px;
}